<!DOCTYPE html>
<html>
 <%- include("partials/head"); %>
 <body>
   <%- include("partials/navbar"); %>
   <div class="container m-4">
     <h1>Mom</h1>
     <p>
       One person who does the work of twenty. For Free
     </p>
   </div>
 </body>
</html>